{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css_col.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css'%}">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="menu">
                    <div class="header__logo">
                        <a href=""> <img src="{% static 'img/img_122908.png' %}" alt="" width="60%" height="auto"> </a>
                    </div>
                    <div class="title">
                        <div class="header__title"> Факультет математики и информационных технологий </div>
                        <div class="header__sub-title">Система формирование контрольных материалов</div>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="content__container container">
                <div class="columns">
                    <div class="columns__item"> <a href="/" class="columns__link">
                        Главная страница
                    </a> </div>
                    <div class="columns__item"> <a href="test" class="columns__link">
                        Формирование заданий (билетов)
                    </a> </div>
                    <div class="columns__item"> <a href="admin" class="columns__link">
                        Редактировать данные
                    </a> </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>