{% extends 'test_bilet/base.html' %}
{% block content %}

<header>
    <nav>

            <a class="nav-link active" aria-current="page" href="/">Главная страница</a>
          <a class="nav-link active" aria-current="page" href="{% url 'start' %}">Факультеты</a>

    <a class="nav-link active" aria-current="page" href="{{ facultet.get_absolute_url }}">Специальности</a>

    </nav>



</header>


<main>
    <div class="box">
        <h1>Выбор предмета</h1>
        <div class="box_content">
            {% for predmet in predemti %}

            <a href="{{ predmet.get_absolute_url }}">
                {{ predmet.name }}
            </a>

            {% endfor %}

        </div>
</main>

{% endblock %}
